html{
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

body{
	background: url(imagens/bg.png);
	background-repeat: no-repeat;
}

.mosquito1{
	width: 50px;
	height: 50px;
}

.mosquito2{
	width: 70px;
	height: 70px;
}

.mosquito3{
	width: 90px;
	height: 90px;
}

.ladoA{
	transform: scaleX(1);
}

.ladoA{
	transform: scaleX(-1);
}

.painel{
	position: absolute;
	width: 190px;
	padding: 10px;
	bottom: 0;
	left: 0;
	border-top: 1px solid #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas{
	float: left;
}

.cronometro{
	float: left;
	font-size: 20px;
	font-weight: 900;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#imagem{
		width: 200px;
		height: 200px;
	}
	body{
		background-size: 1000px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	#imagem{
		width: 300px;
		height: 300px;
	}
	body{
		background-size: 1000px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	#imagem{
		width: 300px;
		height: 300px;
	}
	body{
		background-size: 1200px;
	}	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	#imagem{
		width: 400px;
		height: 400px;
	}
	body{
		background-size: 1200px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#imagem{
		width: 400px;
		height: 400px;
	}
	body{
		background-size: 1400px;
	}	
}